<div class="d-flex flex-column h-100">
  <!-- FOOTER -->
  <footer class="w-100 py-4 flex-shrink-0">
      <div class="container py-4">
          <div class="row gy-4 gx-5">
              <div class="col-lg-4 col-md-6">
                  <h5 class="h1 text-white">Store Việt</h5>
                  <p class="small text-muted" style="font-size: 20px;">Những mẫu hàng độc lạ và chất lượng nhất </p>
                  <p class="small text-muted mb-0">Website: <a class="text-primary" href="#">chiluong02.com</a></p>
              </div>
              <div class="col-lg-2 col-md-6">
                  <h5 class="text-white mb-3">Liên quan</h5>
                  <ul class="list-unstyled text-muted">
                      <li><a href="#">Giày nam</a></li>
                      <li><a href="#">Giày nữ</a></li>
                      <li><a href="#">Đồ bộ thể thao</a></li>
                      <li><a href="#">Tất nam</a></li>
                  </ul>
              </div>
              <div class="col-lg-2 col-md-6">
                  <h5 class="text-white mb-3">Thông tin liên hệ </h5>
                  <ul class="list-unstyled text-muted">
                      <li><a href="#">Hotline: 0342221452</a></li>
                      <li><a href="#">Address: Hà Nội</a></li>
                      
                  </ul>
              </div>
              <div class="col-lg-4 col-md-6">
                  <h5 class="text-white mb-3">Tìm kiếm  </h5>
                  <form action="#">
                      <div class="input-group mb-3">
                          <input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                          <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </footer>
</div>
