<style src="dashboard.component.css"></style>

<div class="container">
    <router-outlet></router-outlet>
    
    <div class="product-table">
        <h2>Danh Sách Sản Phẩm</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Danh mục</th>
                    <th>Giá</th>
                    <th>Ảnh</th>
                    <th>Mô tả</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody>
                    @for (product of products; track products.id){
                        <tr>
                            <td></td>
                            <td>{{product.name}}</td>
                            <td>{{product.cate_id}}</td>
                            <td>{{product.price}}</td>
                            <td><img src="{{product.image}}" width="80"/></td>
                            <td>{{product.detail}}</td>
                            <td><a href="/dashboard/edit-product/{{product.id}}" class="btn btn-primary">Sửa</a> | <a class="btn btn-danger" (click)="handleDelProduct(product.id)">Xóa</a></td>
                        </tr>
                    }
              
            </tbody>
        </table>
    </div>
    <div class="product-form">
        <h2>Thêm Sản Phẩm</h2>
        <a href="/dashboard/add-product" class="btn btn-primary" style="margin-bottom: 20px;">Thêm sản phẩm mới</a>

    </div>
</div>