<div class="container">
    <form [formGroup] = "loginForm" (ngSubmit) = "onSubmit()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Ten dang nhap</label>
          <input type="text" class="form-control" formControlName="username">
          <div *ngIf = "!loginForm.controls.username?.valid&&(loginForm.controls.username?.dirty||loginForm.controls.username?.touched)">
            <p>Ten dang nhap khong de trong</p>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" formControlName="password">
          <div *ngIf = "!loginForm.controls.password?.valid&&(loginForm.controls.password?.dirty||loginForm.controls.password?.touched)">
            <p>Ten dang nhap khong de trong</p>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        
    </form>
    {{mess}}
</div>